*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #333;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

#svelte {
	height: 100%;
	width: 100%;
	display: flex;
}

::selection {
	/* TODO customize */
	background-color: #e9d8fd;
}

.clickable {
	transform: scale3d(1, 1, 1);
	transition: transform 0.06s ease-out;
}
.clickable:hover {
	transform: scale3d(1.07, 1.07, 1);
}
.clickable:active {
	transform: scale3d(1.15, 1.15, 1);
}

hr {
	border-style: dashed;
	border-top-width: 2px;
	border-color: #e9d8fd;
}
textarea {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-bottom-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
img {
	/* do not show alt text by default */
	color: transparent;
}
a {
	color: #2f855a;
}
