# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.0]

    services:
      # Postgres config taken from GitHub Actions help docs
      # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-postgresql-service-containers
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password # TODO is this needed?
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm i -g @feltcoop/gro

      # Set up the Postgres database
      # TODO move this to `gro setup`
      # TODO is this right? does this belong in a `before_script` block?
      # - run: psql -c "CREATE DATABASE felt_dev;" -U postgres
      # - run: psql -c "CREATE USER postgres WITH PASSWORD 'password';" -U postgres

      - run: gro setup
      - run: gro db/create # TODO do this in setup?
      - run: gro check
        env:
          CI: true
      - run: gro build
